{namespace neos=Neos\Neos\ViewHelpers}
<div class="neos-content neos-indented neos-fluid-container">
  <f:render section="Subtitle" optional="1" />

  <f:flashMessages as="flashMessages">
    <f:if condition="{flashMessages -> f:count()} > 0">
      <ul id="neos-notifications-inline">
        <f:for each="{flashMessages}" as="flashMessage">
          <li data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{neos:backend.translate(id: 'flashMessage.{flashMessage.code}', arguments: flashMessage.arguments, value: flashMessage)}</li>
        </f:for>
      </ul>
    </f:if>
  </f:flashMessages>

  <f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
      <ul class="neos-error">
        <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
          <li>
            <f:for each="{errors}" as="error">{neos:backend.translate(id: error.code, source: 'ValidationErrors', arguments: error.arguments, value: error)}</f:for>
          </li>
        </f:for>
      </ul>
    </f:if>
  </f:form.validationResults>

  <f:render section="Content" />
</div>
