.neos-module-management-shortUrls {
  hr.separator {
    border: 1px solid #303030;
    margin: 15px 0px;
  }

  a.inline-link, a.styled-table-link {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
    transition: color 0.2s ease;

    &:hover {
      text-decoration: underline;
      color: #c0c0c0;
    }
  }

  .action-buttons-wrapper,
  .neos-control-group.button-group {
    .neos-button {
      float: right;
      margin: 0 10px;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }

  .neos-control-group.button-group {
    margin-top: 15px;
  }

  form.mockup-deletion-button {
    display: inline-block;
  }

  table.neos-table {
    th, td {
      text-align: center;
    }
  }
}

.ui-datepicker {
  table.ui-datepicker-calendar {
    thead, tbody {
      tr {
        th, td {
          height: initial;
          padding: initial;
          line-height: initial;

          &:first-child {
            padding-left: 0 !important;
          }

          &:last-child {
            padding-right: 0 !important;
          }
        }

        th {
          padding: .7em .3em;
        }

        td > a {
          color: #454545;
          
          &.ui-state-highlight {
            color: #777620;
          }

          &:hover {
            color: #303030;
          }
        }
      }
    }
  }
}