
<f:layout name="Default" />

<f:section name="Title">Short URLs - Overview</f:section>

<f:section name="Content">
    <link href="{f:uri.resource(path: 'Styles/main.min.css')}" rel="stylesheet" />
    <script src="{f:uri.resource(path: 'Scripts/main.min.js')}" type="text/javascript" ></script>

    <div class="neos-row-fluid action-buttons-wrapper">
        <f:link.action action="newTimed" class="neos-button neos-button-success" title="A timed ShortUrl is only valid within a specified time range." additionalAttributes="{data-neos-toggle: 'tooltip', data-placement: 'bottom'}">
            New timed ShortUrl
        </f:link.action>
        <f:link.action action="new" class="neos-button neos-button-success">
            New ShortUrl
        </f:link.action>
    </div>

    <hr class="separator">

    <div class="neos-row-fluid">
        <f:if condition="{shortLinks -> f:count()} > 0">
            <f:then>
                {f:render(section: 'ShortLinkTable')}
            </f:then>
            <f:else>
                {f:render(section: 'NoShortLinksFound')}
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="ShortLinkTable">
    <table class="neos-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Target</th>
                <th>Valid from</th>
                <th>Valid until</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <f:widget.paginate objects="{shortLinks}" as="paginatedShortLinks" configuration="{itemsPerPage: 10}" widgetId="short-links-overview-pagination">
                <f:for each="{paginatedShortLinks}" as="link" key="identifier">
                    <tr>
                        <td>{link.name -> f:format.raw()}</td>
                        <td>{link.link -> f:format.raw()}</td>
                        <td>{link.target -> f:format.raw()}</td>
                        <td>
                            <f:if condition="{link.validFrom}">
                                <f:then>{link.validFrom -> f:format.date(format: 'd.m.Y')}</f:then>
                                <f:else>n/a</f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{link.validUntil}">
                                <f:then>{link.validUntil -> f:format.date(format: 'd.m.Y')}</f:then>
                                <f:else>n/a</f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:link.action action="edit" arguments="{identifier: identifier}" class="neos-button">
                                <i class="icon-edit"></i>
                            </f:link.action>
                            <f:form action="delete" method="post">
                                <f:form.hidden name="identifier" value="{identifier -> f:format.raw()}" />
                                <f:form.submit class="neos-button">
                                    <i class="icon-trash"></i>
                                </f:form.submit>
                            </f:form>
                        </td>
                    </tr>
                </f:for>
            </f:widget.paginate>
        </tbody>
    </table>
</f:section>

<f:section name="NoShortLinksFound">
    <p class="notice">
        <b>No short links could be found in the database.</b>
        <br>Maybe you want to <f:link.action action="new" class="inline-link">create a new one</f:link.action>.
    </p>
</f:section>
