
<f:layout name="Default" />

<f:section name="Title">Short URLs - Overview</f:section>

<f:section name="Content">
    <link href="{f:uri.resource(path: 'Styles/main.min.css')}" rel="stylesheet" />
    <script src="{f:uri.resource(path: 'Scripts/main.min.js')}" type="text/javascript" ></script>

    <div class="neos-row-fluid action-buttons-wrapper">
        <f:link.action action="newTimed" class="neos-button neos-button-success" title="{f:translate(id: 'tooltips.newTimed', package: 'ObisConcept.ShortUrls', source: 'Main')}" additionalAttributes="{data-neos-toggle: 'tooltip', data-placement: 'bottom'}">
            {f:translate(id: 'buttons.newTimed', package: 'ObisConcept.ShortUrls', source: 'Main')}
        </f:link.action>
        <f:link.action action="new" class="neos-button neos-button-success">
            {f:translate(id: 'buttons.new', package: 'ObisConcept.ShortUrls', source: 'Main')}
        </f:link.action>
    </div>

    <hr class="separator">

    <div class="neos-row-fluid">
        <f:if condition="{shortLinks -> f:count()} > 0">
            <f:then>
                {f:render(section: 'ShortLinkTable')}
            </f:then>
            <f:else>
                {f:render(section: 'NoShortLinksFound')}
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="ShortLinkTable">
    <table class="neos-table">
        <thead>
            <tr>
                <th>{f:translate(id: 'table.head.name', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
                <th>{f:translate(id: 'table.head.link', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
                <th>{f:translate(id: 'table.head.target', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
                <th>{f:translate(id: 'table.head.validFrom', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
                <th>{f:translate(id: 'table.head.validUntil', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
                <th>{f:translate(id: 'table.head.actions', package: 'ObisConcept.ShortUrls', source: 'Main')}</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{shortLinks}" as="link" key="identifier">
                <tr>
                    <td>{link.name -> f:format.raw()}</td>
                    <td>
                        <a href="/{link.link -> f:format.raw()}" target="_blank" class="styled-table-link">
                            {link.link -> f:format.raw()}
                        </a>
                    </td>
                    <td>
                        <a href="{link.target -> f:format.raw()}" target="_blank" class="styled-table-link">
                            {link.target -> f:format.raw()}
                        </a>
                    </td>
                    <td>
                        <f:if condition="{link.validFrom}">
                            <f:then>{link.validFrom -> f:format.date(format: 'd.m.Y')}</f:then>
                            <f:else>{f:translate(id: 'table.body.notAvailable', package: 'ObisConcept.ShortUrls', source: 'Main')}</f:else>
                        </f:if>
                    </td>
                    <td>
                        <f:if condition="{link.validUntil}">
                            <f:then>{link.validUntil -> f:format.date(format: 'd.m.Y')}</f:then>
                            <f:else>{f:translate(id: 'table.body.notAvailable', package: 'ObisConcept.ShortUrls', source: 'Main')}</f:else>
                        </f:if>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{identifier: identifier}" class="neos-button neos-button-primary">
                            <i class="icon-edit"></i>
                        </f:link.action>
                        <f:form action="delete" method="post" class="mockup-deletion-button">
                            <f:form.hidden name="identifier" value="{identifier -> f:format.raw()}" />
                            <button type="submit" class="neos-button neos-button-danger">
                                <i class="icon-trash"></i>
                            </button>
                        </f:form>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>

<f:section name="NoShortLinksFound">
    <p class="notice">
        <b>{f:translate(id: 'messages.nothingFound.title', package: 'ObisConcept.ShortUrls', source: 'Main')}</b>
        <br>{f:translate(id: 'messages.nothingFound.message', package: 'ObisConcept.ShortUrls', source: 'Main')}.
    </p>
</f:section>
