
<f:layout name="Default" />

<f:section name="Title">Short URLs - New</f:section>

<f:section name="Content">
    {f:render(partial: 'MockUpHead')}

    <div class="neos-row-fluid">
        <f:form action="create" objectName="shortUrl">
            <fieldset class="neos-span7">
                <legend>{f:translate(id: 'heading.new', package: 'ObisConcept.ShortUrls', source: 'Main')}</legend>

                <div class="neos-control-group">
                    <label for="short-url-name" class="neos-control-label">{f:translate(id: 'table.head.name', package: 'ObisConcept.ShortUrls', source: 'Main')}:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield property="name" id="short-url-name" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group">
                    <label for="short-url-link" class="neos-control-label">{f:translate(id: 'table.head.link', package: 'ObisConcept.ShortUrls', source: 'Main')}:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield property="link" id="short-url-link" value="{randId -> f:format.raw()}" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group">
                    <label for="short-url-target" class="neos-control-label">{f:translate(id: 'table.head.target', package: 'ObisConcept.ShortUrls', source: 'Main')}:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield type="url" property="target" id="short-url-target" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group button-group">
                    <button type="submit" class="neos-button neos-button-primary">
                        {f:translate(id: 'form.submit', package: 'ObisConcept.ShortUrls', source: 'Main')}
                    </button>
                    <f:link.action action="index" class="neos-button">
                        {f:translate(id: 'form.abort', package: 'ObisConcept.ShortUrls', source: 'Main')}
                    </f:link.action>
                </div>
            </fieldset>
        </f:form>
    </div>
</f:section>
