
<f:layout name="Default" />

<f:section name="Title">Short URLs - Overview</f:section>

<f:section name="Content">
    {f:render(partial: 'MockUpHead')}

    <div class="neos-row-fluid">
        <f:form action="create" objectName="shortUrl">
            <fieldset class="neos-span7">
                <legend>Create a new ShortUrl</legend>

                <div class="neos-control-group">
                    <label for="short-url-name" class="neos-control-label">Name:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield property="name" id="short-url-name" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group">
                    <label for="short-url-link" class="neos-control-label">Link:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield property="link" id="short-url-link" value="{randId -> f:format.raw()}" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group">
                    <label for="short-url-target" class="neos-control-label">Target:</label>
                    <div class="neos-controls neos-controls-row">
                        <f:form.textfield type="url" property="target" id="short-url-target" class="neos-span12" additionalAttributes="{required: true}" />
                    </div>
                </div>

                <div class="neos-control-group button-group">
                    <button type="submit" class="neos-button neos-button-primary">Save</button>
                    <f:link.action action="index" class="neos-button">Abort</f:link.action>
                </div>
            </fieldset>
        </f:form>
    </div>
</f:section>
